{% extends 'html/layouts/member.twig' %}
{% block content %}
    <div class="user-login-page-wrapper">
        <div class="user-login-page-container mb-5">
            <div class="user-login-page-logo">
                <a href="{{ path('entry') }}" aria-label="Logo">
                    {% if theme.settings.login_logo %}
                        <img src="{{ themeAsset(theme.settings.login_logo) }}" alt="">
                    {% else %}
                        <img src="{{ themeAsset(theme.settings.logo) }}" alt="">
                    {% endif %}
                </a>
            </div>
            <div class="user-login-page-content">
                <div class="user-login-page-title">
                    <span>{{ getLang("_SellerLogin_") }}</span>
                </div>
                <form action="{{ path('member_login') }}" name="login-form" method="POST" data-selector="login-form">
                    <input type="hidden" name="fail" value="{{ path('member_b2b_login') }}">
                    <div class="user-login-page-row form-group">
                        <input class="form-control" type="text" name="email" id="user-login-email" placeholder="{{ getLang('_Email_') }}" value="{{ cookie_member_email }}" autocomplete="email">
                    </div>
                    <div class="user-login-page-row form-group">
                        <div class="password-toggle">
                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M18.0533 13.4971C18.6397 12.843 19.17 12.1154 19.6294 11.3344C20.1209 10.4988 20.1209 9.50118 19.6294 8.66563C18.5784 6.87895 17.1645 5.39149 15.5406 4.36399C13.8496 3.29415 11.9338 2.72868 10.0002 2.72868C9.30738 2.72868 8.6123 2.80063 7.93426 2.94259C7.59641 3.01333 7.37984 3.34454 7.45059 3.68239C7.52133 4.02028 7.85254 4.23689 8.19039 4.16606C8.78438 4.04173 9.39328 3.97868 10.0002 3.97868C13.3953 3.97868 16.5922 5.96774 18.5519 9.29942C18.8177 9.75122 18.8177 10.2488 18.5519 10.7006C18.1345 11.4102 17.6536 12.0704 17.1225 12.6627C16.8921 12.9198 16.9137 13.3149 17.1707 13.5453C17.4278 13.7757 17.8229 13.7541 18.0533 13.4971ZM0.371055 8.66563C-0.12043 9.50118 -0.12043 10.4988 0.371055 11.3344C1.42203 13.1211 2.8359 14.6086 4.45988 15.636C6.15078 16.7058 8.0666 17.2713 10.0002 17.2713C11.7466 17.2713 13.4809 16.8088 15.0464 15.93L17.1051 17.9888C17.3492 18.2329 17.7449 18.2329 17.989 17.9888C18.2331 17.7447 18.2331 17.349 17.989 17.1049L13.3808 12.4968C13.8982 11.7981 14.2046 10.9342 14.2046 10C14.2046 7.68169 12.3185 5.7956 10.0002 5.7956C9.06602 5.7956 8.20211 6.102 7.50344 6.61939L2.89527 2.01122C2.77324 1.88915 2.61328 1.82813 2.45336 1.82813C2.29344 1.82813 2.13348 1.88915 2.01145 2.01122C1.76734 2.25528 1.76734 2.65103 2.01145 2.89509L3.87648 4.76013C2.49664 5.75903 1.29437 7.09595 0.371055 8.66563ZM7.51766 8.40134L11.5989 12.4825C11.1377 12.7806 10.589 12.9544 10.0002 12.9544C8.37109 12.9544 7.04578 11.6291 7.04578 10C7.04578 9.41122 7.21961 8.86255 7.51766 8.40134ZM12.4827 11.5987L8.40152 7.51747C8.86273 7.21942 9.41141 7.0456 10.0002 7.0456C11.6293 7.0456 12.9546 8.37095 12.9546 10C12.9546 10.5888 12.7808 11.1375 12.4827 11.5987ZM1.44848 9.29938C2.32121 7.81567 3.46395 6.56513 4.77281 5.65646L6.61961 7.50325C6.10223 8.20196 5.79582 9.06583 5.79582 10C5.79582 12.3183 7.68191 14.2044 10.0002 14.2044C10.9344 14.2044 11.7983 13.898 12.497 13.3806L14.1246 15.0083C12.8241 15.6809 11.4402 16.0213 10.0002 16.0213C6.60516 16.0213 3.40824 14.0323 1.44852 10.7006C1.1827 10.2488 1.1827 9.75118 1.44848 9.29938Z" fill="black"/>
                            </svg>
                        </div>
                        <input class="form-control" type="password" name="pass" id="user-login-pass" placeholder="{{ getLang('_Password_') }}" autocomplete="current-password">
                        <script>
                            document.querySelector('.password-toggle').addEventListener('click', function() {
                                var passwordInput = document.getElementById('user-login-pass');
                                var toggleIcon = this;
                                if (passwordInput.type === 'password') {
                                    passwordInput.type = 'text';
                                    toggleIcon.innerHTML = `
                                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M4.45987 15.636C6.15081 16.7058 8.06663 17.2713 10.0002 17.2713C11.9338 17.2713 13.8496 16.7058 15.5406 15.636C17.1646 14.6085 18.5784 13.121 19.6294 11.3343C20.1209 10.4988 20.1209 9.50114 19.6294 8.66559C18.5784 6.87891 17.1646 5.39141 15.5406 4.36395C13.8496 3.29415 11.9338 2.72864 10.0002 2.72864C8.06663 2.72864 6.15081 3.29415 4.45987 4.36395C2.83589 5.39145 1.42202 6.87895 0.371084 8.66559C-0.120439 9.50114 -0.120439 10.4988 0.371084 11.3343C1.42202 13.121 2.83589 14.6085 4.45987 15.636ZM1.44851 9.29938C3.40823 5.9677 6.60515 3.97864 10.0002 3.97864C13.3953 3.97864 16.5922 5.9677 18.5519 9.29938C18.8177 9.75118 18.8177 10.2488 18.5519 10.7006C16.5922 14.0323 13.3953 16.0213 10.0002 16.0213C6.60515 16.0213 3.40823 14.0322 1.44851 10.7006C1.18272 10.2488 1.18272 9.75118 1.44851 9.29938ZM10.0002 14.2044C12.3185 14.2044 14.2046 12.3183 14.2046 9.99997C14.2046 7.68165 12.3185 5.79555 10.0002 5.79555C7.6819 5.79555 5.79581 7.68165 5.79581 9.99997C5.79581 12.3183 7.6819 14.2044 10.0002 14.2044ZM10.0002 7.04555C11.6293 7.04555 12.9546 8.3709 12.9546 9.99997C12.9546 11.629 11.6293 12.9544 10.0002 12.9544C8.37116 12.9544 7.04581 11.629 7.04581 9.99997C7.04581 8.3709 8.37116 7.04555 10.0002 7.04555Z" fill="black"/>
                                        </svg>
                                    `;
                                } else {
                                    passwordInput.type = 'password';
                                    toggleIcon.innerHTML = `
                                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M18.0533 13.4971C18.6397 12.843 19.17 12.1154 19.6294 11.3344C20.1209 10.4988 20.1209 9.50118 19.6294 8.66563C18.5784 6.87895 17.1645 5.39149 15.5406 4.36399C13.8496 3.29415 11.9338 2.72868 10.0002 2.72868C9.30738 2.72868 8.6123 2.80063 7.93426 2.94259C7.59641 3.01333 7.37984 3.34454 7.45059 3.68239C7.52133 4.02028 7.85254 4.23689 8.19039 4.16606C8.78438 4.04173 9.39328 3.97868 10.0002 3.97868C13.3953 3.97868 16.5922 5.96774 18.5519 9.29942C18.8177 9.75122 18.8177 10.2488 18.5519 10.7006C18.1345 11.4102 17.6536 12.0704 17.1225 12.6627C16.8921 12.9198 16.9137 13.3149 17.1707 13.5453C17.4278 13.7757 17.8229 13.7541 18.0533 13.4971ZM0.371055 8.66563C-0.12043 9.50118 -0.12043 10.4988 0.371055 11.3344C1.42203 13.1211 2.8359 14.6086 4.45988 15.636C6.15078 16.7058 8.0666 17.2713 10.0002 17.2713C11.7466 17.2713 13.4809 16.8088 15.0464 15.93L17.1051 17.9888C17.3492 18.2329 17.7449 18.2329 17.989 17.9888C18.2331 17.7447 18.2331 17.349 17.989 17.1049L13.3808 12.4968C13.8982 11.7981 14.2046 10.9342 14.2046 10C14.2046 7.68169 12.3185 5.7956 10.0002 5.7956C9.06602 5.7956 8.20211 6.102 7.50344 6.61939L2.89527 2.01122C2.77324 1.88915 2.61328 1.82813 2.45336 1.82813C2.29344 1.82813 2.13348 1.88915 2.01145 2.01122C1.76734 2.25528 1.76734 2.65103 2.01145 2.89509L3.87648 4.76013C2.49664 5.75903 1.29437 7.09595 0.371055 8.66563ZM7.51766 8.40134L11.5989 12.4825C11.1377 12.7806 10.589 12.9544 10.0002 12.9544C8.37109 12.9544 7.04578 11.6291 7.04578 10C7.04578 9.41122 7.21961 8.86255 7.51766 8.40134ZM12.4827 11.5987L8.40152 7.51747C8.86273 7.21942 9.41141 7.0456 10.0002 7.0456C11.6293 7.0456 12.9546 8.37095 12.9546 10C12.9546 10.5888 12.7808 11.1375 12.4827 11.5987ZM1.44848 9.29938C2.32121 7.81567 3.46395 6.56513 4.77281 5.65646L6.61961 7.50325C6.10223 8.20196 5.79582 9.06583 5.79582 10C5.79582 12.3183 7.68191 14.2044 10.0002 14.2044C10.9344 14.2044 11.7983 13.898 12.497 13.3806L14.1246 15.0083C12.8241 15.6809 11.4402 16.0213 10.0002 16.0213C6.60516 16.0213 3.40824 14.0323 1.44852 10.7006C1.1827 10.2488 1.1827 9.75118 1.44848 9.29938Z" fill="black"/>
                                        </svg>
                                    `;
                                }
                            });
                        </script>
                    </div>
                    <div class="user-login-page-row form-group mb-0 d-flex align-items-center justify-content-between">
                        <div class="checkbox-custom">
                            <input type="checkbox" name="remember" id="remember-me" value="1" {{ (cookie_member_email ? 'checked': '') }}>
                            <label for="remember-me">{{ getLang("_RememberMe_") }}</label>
                        </div>
                        <div class="user-login-forgot-pass">
                            <a href="{{ path('member_forgotpass') }}">{{ getLang("_ForgotPass_") }}</a>
                        </div>
                    </div>
                    <div class="user-login-page-row form-group mb-0">
                        <button type="submit" class="btn btn-primary btn-block" data-selector="b2b-login-form-button">{{ theme.settings.user_login_page_buton_title }}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}